[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

six = "*"
typing = "*"


[dev-packages]

yapf = "*"
isort = "*"
bpython = "*"
pytest = "*"


[requires]

python_version = "2.7"
